{:paths ["src"
         "resources"]

 :deps  {org.clj-commons/pretty   {:mvn/version "3.6.7"}
         org.clj-commons/humanize {:mvn/version "1.1"}}

 :net.lewisship.build/scm
 {:url     "https://github.com/hlship/cli-tools"
  :license :asl}

 :aliases
 {;; clj -X:test
  :test
  {:extra-paths ["test" "test-resources"]
   :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                       :git/sha "dfb30dd"}
                 io.github.hlship/trace               {:mvn/version "1.4"}
                 io.github.tonsky/clj-reload          {:mvn/version "1.0.0"}
                 nubank/matcher-combinators           {:mvn/version "3.9.2"}
                 babashka/babashka                    {:mvn/version "1.12.209"}}
   :exec-fn     cognitect.test-runner.api/test
   :jvm-opts    ["-Dclj-commons.ansi.enabled=true"]
   :exec-args
   {:patterns [".*-tests?$"]}}

  :pom
  {:extra-deps {org.clojure/tools.cli {:mvn/version "1.2.245" :optional true}
                babashka/fs           {:mvn/version "0.5.27" :optional true}
                babashka/process      {:mvn/version "0.6.23" :optional true}
                selmer/selmer         {:mvn/version "1.12.69" :optional true}
                org.babashka/cli      {:mvn/version "0.8.67" :optional true}}}

  :1.11
  {:override-deps {org.clojure/clojure ^:antq/exclude {:mvn/version "1.11.4"}}}

  :lint
  {:deps      {clj-kondo/clj-kondo {:mvn/version "2025.10.23"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"]}

  :build
  {:deps       {io.github.hlship/build-tools {:git/tag "0.12.1" :git/sha "05f3aeb"}}
   :ns-default build}}}
