{:paths ["src"]
 ;; Needed to build and test w/ clojure
 :deps  {org.clojure/tools.cli  {:mvn/version "1.0.219"}
         org.clj-commons/pretty {:mvn/version "2.2"}
         clj-fuzzy/clj-fuzzy    {:mvn/version "0.4.1"}}
 :aliases
 {
  ;; clj -X:test
  :test
  {:extra-paths ["test" "test-resources"]
   :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                       :git/sha "dfb30dd"}}
   :exec-fn     cognitect.test-runner.api/test
   :exec-args
   {:patterns [".*-tests?$"]}}

  :build
  {:deps       {io.github.hlship/build-tools {:git/tag "0.9" :git/sha "4efa3c9"}}
   :ns-default build}}}
