#!/usr/bin/env bb

(require '[net.lewisship.cli-tools :as cli])

(cli/dispatch '{
                {% if group %}
                :namespaces [net.lewisship.cli-tools.completions]
                :groups {
                         {% for ns in ns-names %}
                         "{{ns|strip-ns}}" {:namespaces [{{ns}}]}
                         {% endfor %}
                         }
                {% else %}
                :namespaces [{{ns-names|join: " "}}]
                {% endif %}})
