(ns {{ns}}
  "Command group {{ns|strip-ns}}"
  (:require [net.lewisship.cli-tools :as cli]))

{% for command-name in command-names %}
(cli/defcommand {{command-name}}
  "The {{command-name}} command."
  [verbose ["-v" "--verbose" "Enable verbose logging"]
   force ["-F" "--force" "Don't ask for confirmation"]
   max ["-m" "--max COUNT"  "Maximum number of results"
        :parse-fn parse-long
        :validate [pos? "Must be greater than zero"]]
   filter ["-f" "--filter STRING" "Filter results, keeping those with provided string"]
   :args
   files ["FILES" "Files to process"
          :repeatable true]]
  (if (cli/ask "Proceed?" cli/yes-or-no
        {:default true
         :force?  force})
    (println "Proceeding")
    (println "Aborting")))
{% endfor %}
